.advantages {
    padding-top: 94px;
    padding-bottom: 94px;

.advantages__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 0.03em;
}

.advantages__text {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    letter-spacing: 0.03em;
    display: flex;
}

.advantages__list {
    gap: 30px;
    display: flex;

    @media (max-width: 480px) {
        flex-direction: column;
    }
    
    @media (max-width: 768px) {
        display: flex;
        flex-basis: calc((100% - 1 * 30px) / 2);
    }
}

.advantages__item {
    width: 450px;
}

.advantages__text {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.advantages__title {
    margin-bottom: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages__1,
.advantages__2,
.advantages__3,
.advantages__4 {
    background-color: #F5F4FA;
    width: 450px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    @media (min-width: 768px) {
        width: 354px;
        height: 120px;
    }
    
     @media (min-width: 1200px) {
        width: 270px;
        height: 120px;
    }
}
}