.footer {
    background-color: #2F303A;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;

.footer__address {
    display: flex;
    margin-top: 20px;
    align-items: center;

    @media (min-width: 768px) {

    }
    
    @media (min-width: 1200px) {
        display: flex;
        margin-top: 20px;
    }
}

.footer__box {
    display: block;
    align-items: center;

    @media (min-width: 768px) {
        
    }
    
    @media (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
}
}