.header {
    border-bottom: 1px solid #ECECEC;

.header__container {
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.header__menu {
    background: #FFFFFF;
    border: transparent;
    margin-left: 276px;

@media (min-width: 768px) {
    display: none;
}
}
}