.logo {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo__web {
    color: #2196F3;
}

.logo__studio {
    color: #000000
}