.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    animation-name: scale;
    animation-duration: 1000ms;
    padding-left: 40px;
    padding-top: 40px;

    @media (min-width: 768px) {
        width: 450px;
        height: 609px;
    }
    
    @media (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }

.modal__close-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 8px;
    right: 8px;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:focus .modal__close-icon {
    fill: #2196F3;
}

.modal__close-button:hover .modal__close-icon {
    fill: #2196F3;
}

.modal__header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #212121;
    height: 23px;
    width: 448px;
    left: 576px;
    top: 261px;
    border-radius: nullpx;
    padding-left: 0;
}

.modal__header {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: 40px;
    padding-top: 0px;

    @media (min-width: 480px) and (max-width: 767px) {
        display: flex;
        max-width: 370px;
        text-align: center;
        align-items: center;
        margin-bottom: 25px;
        margin-top: 10px;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.03em;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        max-width: 370px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.03em;
    }
}

.modal__contact-form-label {
    display: block;
    margin-top: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal__contact-form-control {
    position: relative;
    margin-top: 4px;
}

.modal__contact-form-control:focus-within &__contact-form-icon {
    fill: var(--color-accent);
}

.modal__contact-form-input {
    width: 370px;
    height: 40px;
    padding: 12px 12px 12px 32px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    @media (min-width: 768px) {
        width: 370px;
        height: 40px;
    }

        @media (min-width: 1200px) {
        width: 448px;
        height: 40px;
    }
}

.modal__contact-form-input:focus {
    border: 1px solid #2196F3;
}

.modal__contact-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.modal__contact-form-textarea {
    width: 370px;
    height: 120px;
    left: 576px;
    top: 519px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    padding-top: 12px;
    padding-left: 16px;
    margin-bottom: 20px;
    resize: none;

@media (min-width: 768px) {
    width: 370px;
    height: 120px;
}

@media (min-width: 1200px) {
    width: 448px;
    height: 120px;
}
}

.modal__checkbox-terms {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.modal__checkbox-terms-label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

.modal__checkbox-terms-link {
    color: #2196F3;
    padding-left: 3px;
}

.modal__checkbox-terms-input {
    appearance: none;
}

.modal__checkbox-terms-label {
    position: relative;
    padding-left: 24px;
    margin-left: 12px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    @media (min-width: 480px) and (max-width: 767px) {
        margin-left: 5px;
        font-size: 12px;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
       margin-left: 5px;
       font-size: 12px;
    }
}

.modal__checkbox-terms-label {
    &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin: 2px;
    content: '';
}
}

.modal__checkbox-terms-label {
    &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    border: transparent;
    border-radius: 2px;
    background-color: #2196F3;
    background-image: url(../images/tick.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 2px;
    opacity: 0;
    content: '';
}
}

.modal__checkbox-terms-input:checked+.modal__checkbox-terms-label::after {
    opacity: 1;
}
}