.services-list {
    padding-bottom: 94px;

    @media (max-width: 468px) {
            display: none;
        }

.services-list__header {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
    letter-spacing: 0.03em;
}

.services-list__header {
    text-align: center;
    border-radius: nullpx;
    margin-bottom: 50px;
}

.services-list__container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.services-list__item {
    position: relative;
}

.services-list__desktop,
.services-list__apps,
.services-list__design {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    bottom: 0;
    margin-bottom: 0;
}

.services-list__desktop,
.services-list__apps,
.services-list__design {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
}