.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-left: 93px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav__studio {
    font-family: 'Roboto';
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #2196F3;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
}

.site-nav__studio {
    &::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    content: "";
    border-radius: 2px;
    bottom: 0;
}
}

.site-nav__portfolio:hover,
.portfolio-link:focus {
    color: #2196F3;
}

.site-nav__contact:hover,
.site-nav__contact:focus {
    color: #2196F3;
}

.site-nav__portfolio {
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    color: #212121;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
}

.site-nav__contact {
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    color: #212121;
    letter-spacing: 0.02em;
}

.site-nav__studio,
.site-nav__contact,
.site-nav__portfolio {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}