.sm {
    margin-left: 70px;
    display: inline-block;

.sm__list {
    display: flex;
    justify-content: center;
    gap: 10px;

    @media (max-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    }

    @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    }
}

.sm__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #48484F;
}

.sm__link:hover,
.sm__link:focus {
    background-color: #2196F3;
    box-shadow: 0px 4px 4px 0px #00000040;
    fill: #FFFFFF;
}

.sm__link:hover .sm__icon {
    fill: #FFFFFF;
}

.sm__icon {
    fill: #FFFFFF;
}

.sm__header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sm__header {
    padding-bottom: 20px;
    margin-top: 32px;

    @media (min-width: 480px) {
    //    margin-top: 60px;
    }

    @media (min-width: 768px) {
    //    margin-top: 60px;
    }
}

.sm__link {
    transition-property: background-color, color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

