.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;

    @media (max-width: 480px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    @media (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc ((100% - 1 * 30) / 2);
    }

.team__header {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
    letter-spacing: 0.03em;
}

.team__member-name {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: #212121;
    letter-spacing: 0.03em;
}

.team__member-role {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
    letter-spacing: 0.03em;
}

.team__header {
    text-align: center;
    border-radius: nullpx;
    margin-bottom: 50px;
}

.team__cards {
display: flex;
align-items: center;
gap: 30px;
justify-content: center;

    @media (max-width: 480px) {
        flex-direction: column;
    }

    @media (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc ((100% - 1 * 30) / 2);
    }
}

.team__member-intro {
    padding-top: 30px;
}

.team__member-name {
    text-align: center;
}

.team__member-role {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.team__cards-item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100 - 3 * 30) / 4);
}
}